
.inputs{
    color: #fff;
    display: block;
    padding: 20px;
    margin-top: 20px;
   
    /* box-shadow:  10px 10px 25px -7px #e4e4e4; */
}
form {
 
    text-align: center;
    display: block;
  }
  label {
    font-weight: bold;
    margin-right: 10px;
    font-size: x-large;
    color: #90F5C3;
  }

  #modes,#notes,#sequence,#time_sign,#tempo{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid gray;
    height: 30px;
    width: 150px;
    text-align: center;
    margin: auto;
    display: block;
    background-color: black;
    color: white;
  }
 
  .generate{

    font-size: 19px;
    border-radius: 10px;
    border: 1px solid gray;
    justify-self:center;
    padding: 13px 40px ;
    background-color: black;
    color: white;
    
  }
  .generate:hover{
    cursor: pointer;
    color: #90F5C3;
    border: solid #90F5C3 1px;
  }