<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'midiplayer.css' %}">
    <link rel="stylesheet" href="{% static 'piano-v2.css' %}">
  
    <title>Music Generation using LSTM</title>
   
</head>
<body>
  <h1 style="color:#90F5C3; margin-left: 32%;">MUSIC GENERATION WITH LSTM</h1>
<!-- Piano -->
<br>
<br>
<br><br>
<div class="both">

<div id="piano">
   <div class="keys">

    

    

    
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>

<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>

<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>

<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>
<div class="key black "><span class="black-words"></span></div>
<div class="key white "><span class="white-words"></span></div>





   
   </div>
</div>

<!-- music player -->

    <!-- <br>
    <p  id="piano_sequence" style="color:white "> dlfjsdlkfjd</p>
    
    <br> -->

 

  <div id="whole-player" style="height: 500px;">
  <section id="section3" style="height: 500px;">
  
  
  {% if selected_mode == "Aeolian" %}
  <midi-player
    src="media/minor_best_output/aeolian/Aeolian000.mid" sound-font visualizer="#section3 midi-visualizer">
  </midi-player>
  <midi-visualizer src="media/minor_best_output/aeolian/Aeolian000.mid"> </midi-visualizer>
  {% endif %}

  {% if selected_mode == "Dorian" %}
  <midi-player
    src="media/minor_best_output/Dorian/Dorian000.mid" sound-font visualizer="#section3 midi-visualizer">
  </midi-player>
  <midi-visualizer src="media/minor_best_output/Dorian/Dorian000.mid"> </midi-visualizer>
  {% endif %}

  {% if selected_mode == "Harmonic-Minor" %}
  <midi-player
    src="media/minor_best_output/harmonic minor/Harmonic_minor000.mid" sound-font visualizer="#section3 midi-visualizer">
  </midi-player>
  <midi-visualizer src="media/minor_best_outputharmonic minor/Harmonic_minor000.mid" style="height: 160px;"> </midi-visualizer>
  {% endif %}

  {% if selected_mode == "Melodic-Minor" %}
  <midi-player
    src="media/minor_best_output/Melodic Minor Ascend/Melodic Minor Ascend000.mid" sound-font visualizer="#section3 midi-visualizer">
  </midi-player>
  <midi-visualizer src="media/minor_best_output/Melodic Minor Ascend/Melodic Minor Ascend000.mid"> </midi-visualizer>
  {% endif %}


  </section>
</div>
</div>

<form action="" method="">
<!-- <input type="submit" id ="myButton" value="click me"> -->
</form>


<script src="{% static 'midifile.js' %}"></script>
</body>
</html>